@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

img {
  user-select: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #0eb582;
}

section {
  padding: 5rem 10%;
}

.titulo-link {
  text-align: center;
  background: url(../img/titulo-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.titulo-link h3 {
  font-size: 4rem;
  color: #444;
}
.titulo-link p {
  font-size: 2rem;
  line-height: 2;
  color: #444;
}
.titulo-link p a {
  color: #0eb582;
}
.titulo-link p a:hover {
  text-decoration: underline;
}

.titulo {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  color: #444;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  border: 0.1rem solid #0eb582;
  background: #f0fdfa;
  color: #0eb582;
  cursor: pointer;
}
.btn:hover {
  background: #0eb582;
  color: #fff;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 10%;
  display: flex;
  align-items: center;
  z-index: 1000;
}
.header .logo {
  margin-right: auto;
  font-size: 2.5rem;
  color: #444;
  font-weight: bolder;
}
.header .logo i {
  color: #0eb582;
}
.header .navbar {
  position: relative;
}
.header .navbar #close-navbar {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  color: #444;
  display: none;
}
.header .navbar #close-navbar:hover {
  transform: rotate(90deg);
}
.header .navbar a {
  margin-right: 2rem;
  font-size: 2rem;
  color: #444;
}
.header .navbar a:hover {
  color: #0eb582;
}
.header .icons div {
  cursor: pointer;
  font-size: 2.5rem;
  color: #444;
  margin-left: 2rem;
}
.header .icons div:hover {
  color: #0eb582;
}
.header #menu-btn {
  display: none;
}

.conta-form {
  position: fixed;
  top: 0;
  right: -105%;
  width: 35rem;
  background: #fff;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  justify-content: center;
  height: 100%;
  z-index: 1200;
  padding: 2rem;
  text-align: center;
}
.conta-form.active {
  right: 0;
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
}
.conta-form #close-form {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 4rem;
  cursor: pointer;
  color: #444;
}
.conta-form #close-form:hover {
  transform: rotate(90deg);
}
.conta-form form {
  border: 0.1rem solid #0eb582;
  padding: 2rem;
  display: none;
}
.conta-form form.active {
  display: block;
}
.conta-form form h3 {
  font-size: 2.5rem;
  color: #444;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}
.conta-form form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border: 0.1rem solid #0eb582;
  font-size: 1.6rem;
  margin: 0.7rem 0;
}
.conta-form form .flex {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  gap: 0.5rem;
}
.conta-form form .flex label {
  font-size: 1.5rem;
  color: #777;
  cursor: pointer;
}
.conta-form form .flex a {
  font-size: 1.5rem;
  color: #777;
  margin-left: auto;
}
.conta-form form .flex a:hover {
  text-decoration: underline;
  color: #0eb582;
}
.conta-form form .btn {
  width: 100%;
}
.conta-form .botao .btn {
  margin: 0 0.5rem;
}
.conta-form .botao .btn.active {
  background: #0eb582;
  color: #fff;
}

.inicio {
  padding: 0;
}
.inicio .slide {
  display: flex;
  align-items: center;
  height: 60rem;
  background-size: cover !important;
  background-position: center !important;
}
.inicio .slide .content {
  width: 50rem;
}
.inicio .slide .content h3 {
  font-size: 5rem;
  color: #444;
  color: #0eb582;
}
.inicio .slide .content p {
  font-size: 1.6rem;
  line-height: 2;
  color: #444;
  color: #eee;
  padding: 1rem 0;
}

.swiper-pagination-bullet-active {
  background: #0eb582;
}

.materias .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}
.materias .box-container .box {
  padding: 3rem 2rem;
  text-align: center;
  border: 0.1rem solid #0eb582;
  background: #f0fdfa;
  cursor: pointer;
}
.materias .box-container .box:hover {
  background: #0eb582;
}
.materias .box-container .box:hover h3 {
  color: #fff;
}
.materias .box-container .box:hover p {
  color: #fff;
}
.materias .box-container .box img {
  height: 10rem;
  margin-bottom: 0.5rem;
}
.materias .box-container .box h3 {
  font-size: 1.8rem;
  color: #444;
  padding: 0.5rem 0;
}
.materias .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #444;
}

.inicio-cursos .slide {
  text-align: center;
  position: relative;
  background: #f0fdfa;
  overflow: hidden;
}
.inicio-cursos .slide:hover .content {
  bottom: 0;
}
.inicio-cursos .slide .image {
  padding: 2rem;
}
.inicio-cursos .slide .image img {
  width: 100%;
  margin-bottom: 1.5rem;
}
.inicio-cursos .slide .image h3 {
  font-size: 2rem;
  color: #444;
}
.inicio-cursos .slide .content {
  position: absolute;
  bottom: -100%;
  right: 0;
  left: 0;
  background: #0eb582;
  padding: 2rem 3rem;
}
.inicio-cursos .slide .content h3 {
  font-size: 2rem;
  color: #444;
  color: #fff;
}
.inicio-cursos .slide .content p {
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 2;
  color: #444;
  color: #eee;
}
.inicio-cursos .slide .content .btn:hover {
  background: #444;
}

.sobre {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.sobre .image {
  flex: 1 1 40rem;
}
.sobre .image img {
  width: 100%;
}
.sobre .content {
  flex: 1 1 40rem;
}
.sobre .content .titulo-sobre {
  font-size: 3rem;
  color: #444;
}
.sobre .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #444;
  padding: 1rem 0;
}
.sobre .content .icons-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}
.sobre .content .icons-container .icons {
  text-align: center;
  border: 0.1rem solid #0eb582;
  background: #f0fdfa;
  padding: 2rem 2rem;
}
.sobre .content .icons-container .icons img {
  height: 15rem;
  margin-bottom: 0.5rem;
}
.sobre .content .icons-container .icons h3 {
  padding: 0.5rem 0;
  font-size: 3rem;
  color: #444;
  color: #0eb582;
  font-weight: bolder;
}
.sobre .content .icons-container .icons span {
  font-size: 1.6rem;
  line-height: 2;
  color: #444;
  font-weight: bolder;
}

.profesores .slide {
  text-align: center;
}
.profesores .slide:hover .image img {
  background: #0eb582;
}
.profesores .slide:hover .image .redes-social {
  bottom: 0;
}
.profesores .slide .image {
  position: relative;
  overflow: hidden;
}
.profesores .slide .image img {
  width: 100%;
}
.profesores .slide .image .redes-social {
  position: absolute;
  bottom: -10;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 2rem;
}
.profesores .slide .image .redes-social a {
  font-size: 3rem;
  margin: 0 1rem;
  color: #fff;
}
.profesores .slide .image .redes-social a:hover {
  color: #0eb582;
}
.profesores .slide .content {
  display: flex;
  padding-top: 1rem;
  align-items: center;
  justify-content: space-around;
}
.profesores .slide .content h3 {
  font-size: 2rem;
  color: #444;
}
.profesores .slide .content span {
  font-size: 1.5rem;
  line-height: 2;
  color: #444;
}

.avaliacao .slide {
  text-align: center;
}
.avaliacao .slide p {
  font-size: 1.5rem;
  line-height: 2;
  color: #444;
  position: relative;
  background: #f0fdfa;
  border: 0.1rem solid #0eb582;
  margin-bottom: 3rem;
  padding: 2rem;
}
.avaliacao .slide p::before {
  content: "";
  position: absolute;
  bottom: -1.2rem;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  background: #f0fdfa;
  border-bottom: 0.1rem solid #0eb582;
  border-right: 0.1rem solid #0eb582;
  height: 2rem;
  width: 2rem;
}
.avaliacao .slide img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}
.avaliacao .slide h3 {
  font-size: 2.2rem;
  color: #444;
  padding: 0.5rem 0;
}
.avaliacao .slide .estrela {
  font-size: 1.2rem;
  color: #0eb582;
}

.footer {
  background: #f0fdfa;
}
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}
.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #444;
  padding: 1rem 0;
}
.footer .box-container .box h3 i {
  color: #0eb582;
}
.footer .box-container .box .redes-social {
  margin-top: 1rem;
}
.footer .box-container .box .redes-social a {
  height: 3.5rem;
  width: 3.5rem;
  line-height: 3.5rem;
  font-size: 1.7rem;
  background: #0eb582;
  color: #fff;
  margin-right: 0.3rem;
  text-align: center;
}
.footer .box-container .box .redes-social a:hover {
  background: #444;
}
.footer .box-container .box .link {
  font-size: 1.5rem;
  line-height: 2;
  color: #444;
  padding: 0.5rem 0;
  display: block;
}
.footer .box-container .box .link:hover {
  color: #0eb582;
  text-decoration: underline;
}
.footer .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #444;
  padding: 1rem 0;
}
.footer .box-container .box .email {
  width: 100%;
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  border: 0.1rem solid #0eb582;
  margin-bottom: 1rem;
}
.footer .credito {
  text-align: center;
  margin-top: 3rem;
  padding-top: 3rem;
  font-size: 2rem;
  color: #444;
  border-top: 0.1rem solid #0eb582;
}
.footer .credito span {
  color: #0eb582;
}

@media (max-width: 1200px) {
  .header {
    padding: 2rem 5%;
  }
  section {
    padding: 3rem 5%;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}
@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: fixed;
    top: 0;
    right: -105%;
    width: 30rem;
    background: #fff;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    z-index: 1200;
  }
  .header .navbar #close-navbar {
    display: block;
  }
  .header .navbar.active {
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    right: 0;
  }
  .header .navbar a {
    display: block;
    margin: 1rem 0;
    text-align: center;
    font-size: 3rem;
  }
  .inicio .slide .content h3 {
    font-size: 3rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .titulo {
    font-size: 3rem;
  }
  .sobre .content .titulo-sobre {
    font-size: 4rem;
  }
}

/*# sourceMappingURL=style.css.map */
